
<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <div>
    <%= link_to restaurant.name,restaurant_path(restaurant)  %>
    <p><%= restaurant.address %></p>
    </div>
  <% end %>
</ul>

<%= link_to 'Add a restaurant', new_restaurant_path, class: "btn btn-outline-primary" %>
